body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  height: 35px;
}
.nav-link {
  border: 1px solid #eee;
  padding: 0;
}
.dropdown-menu {
  border-radius: 0;
  padding: 0;
}
.dropdown-menu a {
  padding: 2px 10px;
  font-size: 14px;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.popup {
  position: absolute;
  width: 300px;
  height: 200px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  background: #0078d7;
  color: white;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 10px;
  height: calc(100% - 30px);
}

button.minimize {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.hidden {
  display: none;
}
.form-control {
  padding: 20px 10px !important;
  border-radius: 0;
  border: 1px double #eee;
}
.btn {
  border-radius: 0;
  padding: 6px 35px;
}
@media (max-width: 600px) and (min-width: 100px) {
  nav {
    height: 65px !important;
  }
  .navbar-brand * {
    background: transparent !important;
  }
  nav a {
    z-index: 9999 !important;
    background: white;
  }
  .nav-link {
    padding: 10px;
  }
  .nav-link::after {
    float: right;
  }
}
body {
  background: #eee;
}
main,
nav.navbar-light {
  background: white !important;
}
.row {
  margin: 0;
}
.form p {
  margin-top: 10px;
  margin-bottom: 2px;
}

.form-controlx {
  padding: 8px;
  border: 1px solid #eee;
  width: 100%;
}
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}
.loader-div {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(17, 34, 18, 0.77);
  top: 0;
}
.web-printer {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  top: 0;
}
.web-printer {
  background: rgb(255, 255, 255);
}
.navbar,
.navbar-collapse {
  z-index: 9999 !important;
  background: white !important;
}
@media (max-width: 800px) and (min-width: 100px) {
  .nav-item a {
    padding: 10px;
  }
  nav {
    min-height: 48px !important;
  }
  .navbar-toggler {
    height: 30px !important;
  }
  .navbar-toggler span {
    margin: 0 !important;
    height: 20px;
  }
}

.dropdown-menu a {
  padding-left: 25px;
}

.login-div {
  min-width: 94% !important;
  min-height: 70vh;
  padding: 0 !important;
  display: flex;
  align-items: center;
}
.bottom-0 {
  bottom: 0px;
}
.footer-links a {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid;
}
.footer-links {
  text-align: right;
}
nav.navbar-light {
  position: sticky !important;
  top: 0px;
  padding: 0px !important;
  height: 22px;
  padding-bottom: 5px !important;
}
.nav-item {
  margin: 0px !important;
}
.navbar-collapse {
  padding: 0 !important;
  margin: 0px !important;
  /*     margin-top: -10px!important; */
}
footer {
  font-size: 14px;
}
.login-div {
  min-height: 100vh;
  background: url("/img/bg.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.login-div .form {
  border-radius: 25px;
}
.navbar-light,
.navbar,
.collapse {
  background: #0078D7 !important;
  font-weight: bold;
}
.nav-item > a {
  color: white !important;
  font-size: 12px;
} 
.table tr:nth-child(even) {
  background: #eee;
}
table tr td {
  padding: 2px 5px !important;
  font-size: 12px;
  font-weight: bold;
}
.table tr th {
  padding: 2px 5px !important;
  font-size: 14px;
  font-weight: bold;
  background: #0078d7;
  color: #eee;
  border-right: 1px dashed;
}
.teacher-img {
  height: 120px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ddd;
}
.form-control,
.form-controlx {
  font-size: 13px;
  font-weight: 500;
  padding: 5px !important;
}
h3 {
  font-size: 1.3rem;
}

@media (max-width: 600px) and (min-width: 100px) {
  .dropdown-toggle {
    background: #0078D7;
  }
  #navbarSupportedContent {
    display: none;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    padding: 15px !important;
    box-shadow: 0 5px 450px rgb(227, 227, 227);
  }
  #navbarSupportedContent.show {
    display: block;
  }
  .navbar-toggler {
    position: fixed;
    right: 0;
    padding: 5px;
    height: 40px !important;
  }
  .nav-item:nth-child(1) a {
    background: #0078D7 !important;
  }
}
table {
  table-layout: auto !important;
}
th,
td {
  white-space: nowrap;
}
main {
  overflow: scroll;
}
.navbar b {
  margin-left: 10px;
  text-transform: uppercase;
}
* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
::-webkit-scrollbar {
  width: 0px;
}
.main-body { 
    overflow: scroll!important; 
    flex-direction: column;
    max-height: 100vh!important
} 
table tr:nth-child(1) {
  position: sticky!important;
  top: -20px;
  padding: 0px!important; 
  padding-bottom: 5px !important;
  z-index: 99; 
}
.navigate {
    max-height: 60px
}